{% extends "base.html" %}

{% block body_class %}bg-secondary h-screen{% endblock %}

{% block content %}
<div class="w-full max-w-7xl mx-auto px-4 py-6">
  <div class="text-center mb-8">
    <h1 class="text-2xl font-bold text-primary">ACTUALIZAR AVANCE</h1>
  </div>



  <form method="post" class="space-y-4 max-w-xl mx-auto bg-white p-6 rounded-lg shadow-lg">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    <a href="{% url 'galeria:galeria_list' %}" class="btn btn-secondary">Cancelar</a>
  </form>
{% endblock %}
