<!-- galeria_detalle.html -->
{% extends 'base.html' %}

{% block body_class %}bg-secondary min-h-screen text-white {% endblock %} 

{% block content %}
<div class="max-w-7xl mx-auto">
    <h1 class="text-center py-1">{{ sitio.sitio }} </h1>
    <h2 class="text-center  ">{{ sitio.nombre }} {{ sitio.descripcion }}</p>
        
    {% for fecha, items in items_por_fecha.items %}
        {% with day=fecha|date:"l" %}
        <h2 class="{% if day == 'sábado' or day == 'domingo' %}text-primary{% else %}text-base-100{% endif %} ">
            {{ fecha|date:"j F Y (l)" }}
        </h2>
        {% endwith %}
        
        <!-- Mostrar imágenes de ese día -->
        <div class="columns-1 gap-4 md:columns-2 md:gap-8 lg:columns-3 p-6">   
        {% for imagen in items.imagenes %}
        <div class="w-full mb-6 shadow-lg shadow-black">
            <img class="h-auto max-w-full rounded-lg " src="{{ imagen.imagen.url }}" alt="{{ imagen.descripcion }}">
        </div>
        {% endfor %}

        <!-- Verificar y Mostrar comentarios de ese día si existen -->
        {% if items.comentarios %}   
            {% for comentario in items.comentarios %}
            <div class="bg-yellow-200  shadow-white shadow-md w-full min-h-14 flex flex-col justify-between rounded-lg p-4 mb-6">
                <p class="mb-4">{{ comentario.comentario }}</p>
                <div class="text-right text-sm text-gray-600">
                    {{ comentario.usuario }}
                </div>
            </div>       
            {% endfor %}
        {% endif %}

</div>
    

{% endfor %}

{% endblock content %}